@model EM.Entity.Appointment
@{
    Layout = "_LayoutUsers";
}
@{
    ViewData["Title"] = "Time Sheet";
}
<div id='calendar'></div>

<div aria-hidden="true" aria-labelledby="idAddAppointments" role="dialog" tabindex="-1" id="idAddAppointments" class="modal fade">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header">
                <h3 class="modal-title m-auto text-secondary">
                    <b> Book Appointment </b>
                </h3>
            </div>
            <!-- Modal body -->
            <div class="modal-body">
                <!-- New user registration form -->
                <form id="frmAppointment" method="post">
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true)
                    <div class="row">
                        <div class="col-6">
                            <div class="form-group">
                                <label> Select Doctor : </label>
                                <select class="form-select form-control" asp-for="DoctorId" id="idDoctorList">
                                    <option disabled selected value="DoctorId"> Select Doctor</option>
                                </select>
                                <span asp-validation-for="DoctorId" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="form-group">
                                <label> Select Patient : </label>
                                <select class="form-select form-control" asp-for="UserId" id="idPatientList">
                                    <option disabled selected value="UserId"> Select Patient</option>
                                </select>
                                <span asp-validation-for="UserId" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label> Diagnosis :  </label>
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Diagnosis" onkeydown="return /[a-z]/i.test(event.key)" asp-for="Diagnosis">
                            <div class="input-group-append">
                                <div class="input-group-text">
                                    <span class="fas fa-notes-medical"></span>
                                </div>
                            </div>
                        </div>
                        <span asp-validation-for="Diagnosis" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label> Remarks : </label>
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Remarks" onkeydown="return /[a-z]/i.test(event.key)" asp-for="Remarks">
                            <div class="input-group-append">
                                <div class="input-group-text">
                                    <span class="fas fa-notes-medical"></span>
                                </div>
                            </div>
                        </div>
                        <span asp-validation-for="Remarks" class="text-danger"></span>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <div class="form-group">
                                <label> StartDateTime :  </label>
                                <div class="input-group">
                                    <input type="text" class="form-control" placeholder="StartDateTime" asp-for="StartDateTime" onfocus="(this.type = 'datetime-local')">
                                    <div class="input-group-append">
                                        <div class="input-group-text">
                                            <span class="fas fa-clock"></span>
                                        </div>
                                    </div>
                                </div>
                                <span asp-validation-for="StartDateTime" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="form-group">
                                <label> EndDateTime :  </label>
                                <div class="input-group">
                                    <input type="text" class="form-control" placeholder="EndDateTime" asp-for="EndDateTime" onfocus="(this.type = 'datetime-local')">
                                    <div class="input-group-append">
                                        <div class="input-group-text">
                                            <span class="fas fa-clock"></span>
                                        </div>
                                    </div>
                                </div>
                                <span asp-validation-for="EndDateTime" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row m-auto">
                        <div class="col">
                            <button type="submit" class="btn btn-primary btn-block"> Add Appointment </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script>
    //onload
    $(function () {
        fnGetDoctor();
        fnGetPatient();
    })
    document.addEventListener('DOMContentLoaded', function () {
        var calendarEl = document.getElementById('calendar');

        var calendar = new FullCalendar.Calendar(calendarEl, {
            initialView: 'dayGridMonth',
            initialDate: '2022-04-07',
            selectable: true,
            editable: true,
            Draggable : true,
            headerToolbar: {
                left: 'prev,next today',
                center: 'title',
                right: 'dayGridMonth,timeGridWeek,timeGridDay'
            },
            dateClick: function () {
                $('#idAddAppointments').modal("show");
            },
            events: [
                {
                    title: 'Long Event',
                    start: '2022-04-07',
                    end: '2022-04-10'
                },
                {
                    groupId: '999',
                    title: 'Repeating Event',
                    start: '2022-04-09T16:00:00'
                },
                {
                    groupId: '999',
                    title: 'Repeating Event',
                    start: '2022-04-16T16:00:00'
                },
                {
                    title: 'Conference',
                    start: '2022-04-11',
                    end: '2022-04-13'
                },
                {
                    title: 'Meeting',
                    start: '2022-04-12T10:30:00',
                    end: '2022-04-12T12:30:00'
                },
                {
                    title: 'Lunch',
                    start: '2022-04-12T12:00:00'
                },
                {
                    title: 'Meeting',
                    start: '2022-04-12T14:30:00'
                },
                {
                    title: 'Birthday Party',
                    start: '2022-04-13T07:00:00'
                },
                {
                    title: 'Click for Google',
                    url: 'http://google.com/',
                    start: '2022-04-28'
                }
            ],

        });
        calendar.render();
    });
    //Get list of doctors from database
    function fnGetDoctor() {
        debugger;
        $.ajax({
            url: '@Url.Content("~/Doctor/GetDoctor")',
            success: function (result) {
                $.each(result, function (i, data) {
                    $('#idDoctorList').append('<option value="' + data.doctorId + '">' + data.firstName + " " + data.lastname + '</option > ');
                });
            }
            });
    };
    //Get list of doctors from database
    function fnGetPatient() {
        debugger;
        $.ajax({
            url: '@Url.Content("~/Doctor/GetPatient")',
            success: function (result) {
                $.each(result, function (i, data) {
                    $('#idPatientList').append('<option value="' + data.userId + '">' + data.firstName + " " + data.lastname + '</option > ');
                });
            }
            });
    };
    //Post Appointment
    $("#frmAppointment").submit(function (event) {
        debugger;
        $.validator.setDefaults({
            ignore: ':hidden, [readonly=readonly]'
        });
        var $form = $('#frmAppointment');
        $.validator.unobtrusive.parse($form);

        if ($("#frmAppointment").valid()) {
            event.preventDefault();
            event.stopImmediatePropagation();
            $.ajax({
                url: '@Url.Content("~/Doctor/PostAppointment")',
                type: "POST",
                async: true,
                data: $("#frmAppointment").serialize(),
                success: function (result) {
                    if (result != null && result.statusCode != 200) {
                        toastr.error(result.message);
                        $('#idAddAppointments').modal("show");
                    } else {
                        toastr.success(result.message);
                        $('#idAddAppointments').modal("hide");
                    }
                    console.log(result);
                },
                error: function (ex) {
                    debugger;
                    toastr.error('Invalid Data.');
                    console.log('Failed ');
                }
            });
        }
        else {
            event.preventDefault();
            event.stopImmediatePropagation();
        }
    });
</script>
