@{
    Layout = "_LayoutUsers";
}
@{
    ViewData["Title"] = "Index";
}
@{ if (!User.Identity.IsAuthenticated)
    {
        Context.Response.Redirect(Url.Action("Login", "Auth"));
    }
}
@if (User.Identity.IsAuthenticated)
{
    <div aria-hidden="true" aria-labelledby="AddEditUsers" role="dialog" tabindex="-1" id="AddEditUsers" class="modal fade">
        <div class="modal-dialog modal-dialog-centered">
        </div>
    </div>
    <div aria-hidden="true" aria-labelledby="idDeleteUser" role="dialog" tabindex="-1" id="idDeleteUser" class="modal fade">
        <div class="modal-dialog modal-dialog-centered">
        </div>
    </div>
    <div class="container-fluid">
        <div class="row mt-4">
            <div class="col-12">
                <div class="card shadow">
                    <div class="card-header">
                        <div class="row">
                            <div class="col">
                                <h3 class="card-title mt-1">  Welcome, List of users</h3>
                            </div>
                            <div class="col text-right">
                                <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#AddEditUsers" onclick="addUser(this)">+ Add New User</button>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <table id="idUserTable" class="table table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th>UserId</th>
                                    <th>First Name</th>
                                    <th>Last Name</th>
                                    <th>Email</th>
                                    <th>Edit</th>
                                    <th>Delete</th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

<script>
    $(document).ready(function () {
        GetUserList();
    });
    //for getting userlist.
    function GetUserList() {
        $('#idUserTable').DataTable(
            {
                ajax: {
                    url:'@Url.Content("GetUserList")',
                    type: "POST",
                },
                destroy: true,
                "paging": true,
                "searching": true,
                "info": true,
                "lengthChange": false,
                "responsive": true,
                "processing": true,
                "serverSide": true,

                columns: [
                    { data: "userId", name: "UserId" },
                    { data: "firstName", name: "FirstName" },
                    { data: "lastname", name: "Lastname" },
                    { data: "emailAddress", name: "EmailAddress" },
                    {
                        //adds td row for button
                        data: null,
                        render: function (data) {
                            return "<a href='#' class='btn btn-info m-auto' data-toggle='model' data-target=#AddEditUsers' onclick=editUser('" + data.userId + "'); >Edit</a>";
                        }
                    },
                    {
                        data: null,
                        render: function (row) {
                            return "<a href='#' class='btn btn-danger m-auto' onclick=deleteUser('" + row.userId + "'); >Delete</a>";
                        }
                    },
                ],
            }
        );
    }
    //For open add user model
    function addUser() {
        $.ajax({
            url: '@Url.Content("~/Admin/AddEditUserModel")',
            data: { "id": 0 },
            type: 'GET',
            success: function (response) {
                $('#AddEditUsers').find(".modal-dialog").html(response);
                $('#AddEditUsers').modal("show");
            }
        });
    }
    //For open edit user model
    function editUser(userId) {
        debugger;
        var id = userId;
        $.ajax({
            url: '@Url.Content("~/Admin/AddEditUserModel")',
            type: 'GET',
            data: { "id": id },
            success: function (response) {
                $('#AddEditUsers').find(".modal-dialog").html(response);
                $('#AddEditUsers').modal("show");
            },
            error: function (error) {
                console.log(error);
            }
        });
    }
    //For open delete user model
    function deleteUser(userId) {
        debugger;
        var id = userId;
        $.ajax({
            url:'@Url.Content("~/Admin/DeleteUserModel")',
            type: 'GET',
            data: { "id": id },
            success: function (response) {
                $('#idDeleteUser').find(".modal-dialog").html(response);
                $('#idDeleteUser').modal("show");
            }
        });
    }
    //For update user details post method
    function UpdateUser() {
        var data = $("#idSigninForm").serialize();
        $.ajax({
            type: 'POST',
            url: '@Url.Content("~/Admin/EditUserDetailsPost")',
            contentType: 'application/x-www-form-urlencoded; charset=UTF-8', // when we use .serialize() this generates the data in query string format. this needs the default contentType (default content type is: contentType: 'application/x-www-form-urlencoded; charset=UTF-8') so it is optional, you can remove it
            data: data,
            success: function (result) {
                if (result != null && result.statusCode != 200) {
                    toastr.error(result.message);
                    $('#AddEditUsers').modal("show");
                } else {
                    toastr.success(result.message);
                    GetUserList();
                    $('#AddEditUsers').modal("hide");
                }
                console.log(result);
            },
            error: function () {
                toastr.error('Invalid Data.');
                console.log('Failed ');
            }
        })
    }
    //For delete user details post
    function DeleteUser() {
        var data = $("#idDeletDetails").serialize();
        $.ajax({
            type: 'POST',
            url: '@Url.Content("~/Admin/DeletUserDetails")',
            contentType: 'application/x-www-form-urlencoded; charset=UTF-8', // when we use .serialize() this generates the data in query string format. this needs the default contentType (default content type is: contentType: 'application/x-www-form-urlencoded; charset=UTF-8') so it is optional, you can remove it
            data: data,
            success: function (result) {
                if (result != null && result.statusCode != 200) {
                    toastr.error(result.message);
                    $('#idDeleteUser').modal("show");
                } else {
                    toastr.success(result.message);
                    GetUserList();
                    $('#idDeleteUser').modal("hide");
                }
                console.log(result);
            },
            error: function () {
                alert('Failed to receive the Data');
                console.log('Failed ');
            }
        })
    }
</script>
